/* Define a fonte base */
body {
    font-family: 'Inter', sans-serif;
    background-color: hsl(0, 0%, 8%); /* Off Black */
    color: hsl(0, 0%, 100%); /* White */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
    margin: 100px;
}

/* Estilo do cart찾o de visitas */
.business-card {
    background-color: hsl(0, 0%, 12%); /* Dark Grey */
    border-radius: 10px;
    padding: 100px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilo da foto de perfil */
.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid hsl(75, 18%, 26%); /* Green */
    margin-bottom: 20px;
}

/* Estilo do nome */
h1 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}
/*estilo do local*/
h3 {
    font-size: 24px;
    font-weight: 100;
    margin-bottom: 20px;

}
h2{
    font-size: 12px;
    font-weight: 100;
    margin-bottom: 10px;
}

/* Estilo dos bot천es de redes sociais */
.social-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Estilo individual dos bot천es de redes sociais */
.social-button {
    background-color: hsl(75, 18%, 26%); /* Green */
    color: hsl(0, 0%, 100%); /* White */
    text-decoration: none;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Efeito hover nos bot천es */
.social-button:hover {
    background-color: hsl(75, 18%, 26%); /* Mais escuro ao passar o mouse */
}

